.panel-heading {
    text-align: center;
    background-color: rgba(28, 139, 236, 0.616)
}

.panel-body {
    background-color: rgba(255, 255, 255, 0.616);

}

.panel {
    background-color: rgba(255, 255, 255, 0);
}


button{
    color: rgb(189, 137, 70);
    /* margin-left: 150px; */
}

