<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand">InfyGo</a>
      </div>
      <ul *ngIf="!userService.isLoggedIn()" class="nav navbar-nav" style="margin-left: auto">
        <!--Add the navigational links here-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
  
      <ul *ngIf="userService.isLoggedIn()" class="nav navbar-nav" style="margin-left: auto">
        <!--Add the navigational links here-->

        <li class="nav-item">
            <a class="nav-link" routerLink="/flights">Flights</a>
        </li>

        <li class="nav-item">
            <a (click)="logout()" class="nav-link" routerLink="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </nav>